// Theme colors
$primary: rgb(247, 150, 46);
$accent: #ffe082;
$secondary: #4FC3F7;
$error: #E53935;

$background-light: #FAFAFA;
$surface-light: #FFFFFF;
$text-dark: #212121;

$background-dark: #121212;
$surface-dark: #1E1E1E;
$text-light: #FFFFFF;
